<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
<script src="__PUBLIC__/Home/js/ckreg.js" type="text/javascript" charset="gb2312"></script>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员登录</title>
</head>

<body>
<div id="container">
<!--LOGO-->
     
 <div id="memberlogin">   
   <div class="mlogin">
     <div class="mltop">&nbsp;</div>
	 <div class="mlltop">&nbsp;</div>
     <div class="mlrtop">&nbsp;</div>
	 <form method="post" name="mlogin" action="__URL__/check_logined" onsubmit="return cklog(this);" target="_top">
	  <div class="mllbottom">
	   <p>会员帐号:<input type="text" name="username" size="20" id="username" ></p>
	   <p>会员密码:<input type="password" name="password"  size="22" id="password" ></p>
	  </div>
	  <div class="mlrbottom">
	   <p><input type=image src="__PUBLIC__/Home/images/mlogin4.gif" name="submit"></p>
       </div>
	 </form> 
  </div>
  <div class="mlbottom">&nbsp;</div>
</div>


</div>
</body>
</html>
                                                                                       