<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
<!--
.STYLE1 {font-size: 10pt}
-->
</style>
</head>
<body background="" ">
 
<div class="content">
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="table" align="center">
  <tr height="50px;"><td align="center"></td>
  </tr>
  <tr>
   <td align="center" ><img src="__PUBLIC__/Admin/images/welcome.gif"></td>
  </tr>
  
</table>
</div>
</body>
</html>                                                                                       