.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	width:728px;
}
.pagination ul li {
  display: inline;
  float:right;
}
.pagination ul li.rows {
    line-height: 30px;
    padding-left: 5px;
	float:left;
}
.pagination ul li.rows b{/*color: #F66E0F;*/}/*共7条记录 2页/共4页数字样式，默认红色，这里改为橘黄色*/
.pagination ul li a, .pagination ul li span {
    float: left;
    padding: 0px 3px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    background: url('../images/bottom_bg.png') 0px 0px;
    border: 1px solid #D4E3E9;
    /*border-left-width: 0;*/
    margin-left: 2px;
    color:#333333;/*分页导航链接颜色,默认水蓝色*/
	margin-top:3px;
	margin-left:5px;
}
.pagination ul li a:hover{
    color: #fff;/*分页导航鼠标悬浮背景色*/
    background: #00893D;
}

.pagination ul li.first-child a, .pagination ul li.first-child span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}
.pagination ul .disabled span, .pagination ul .disabled a, .pagination ul .disabled a:hover {
color: #999;
cursor: default;
background-color: transparent;
}
.pagination ul .active a, .pagination ul .active span {
color: #999;
cursor: default;
}
.pagination ul li a:hover, .pagination ul .active a, .pagination ul .active span {
background-color: #003366;
}
.pagination ul li.last-child a, .pagination ul li.last-child span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}
.pagination ul li.current a{color: #f00 ;font-weight: bold; background: #ddd;}
.pagination ul li span.current{color: #fff;background:#003366;}