body,td,div {font-size: 14px;font-family:"ו",Verdana, Arial, Helvetica, sans-serif;}
body {background:#ffffff;margin:5px 0px 0px 5px;padding:0px;}
img { border:0px;}
a:link {color: #0000FF;text-decoration: none;}
a:visited {text-decoration: none;color: #0000FF;}
a:hover {text-decoration: none;color: #FF0000;}
a:active {text-decoration: none;color: #FF0000;}
.title {border-left:#2a6ba6 1px solid;border-bottom:#2a6ba6 1px solid;border-top:#2a6ba6 1px solid;background:#FAFAFA url('../images/th.gif') repeat-x;height:28px;padding:6px 6px 0 6px;}
.content {padding:5px 0px 0px 0px;margin:2px 0px;}
.menu {
	padding:12px 0 0 15px;background:url('../images/menu_bg.gif') repeat-x;height:35px;overflow:hidden;
	font-size:14px;margin:0px;
}
.button {
	background:url('../images/btn.gif') no-repeat;height:24px;line-height:22px;width:69px;border:none;cursor:pointer;
}
.button table {color:#FFFFFF;}
.table { background:#FFFFFF;  }
.table th{background:#e9f1f4; text-align:left;font-size:14px;font-weight:normal; border-bottom:solid 1px #2a6ba6; border-right:solid 1px #2a6ba6;}
.table td{ font-size:14px;font-weight:normal; border-bottom:solid 1px  #2a6ba6; }
.tdl{ background:#FFFFE0;}
.ttbom {padding:8px 8px 8px 8px;background:#FFFFFF; border-top:solid 1px #2a6ba6;text-align:center;}


.calendar{
    margin-top:8px;
	width:152px;
	height:19px;
	line-height:19px;
	border:1px solid  #7591a3;
	background:url("../images/calendar.gif") no-repeat scroll right center transparent;
	
}

body#page {
	padding:20px;
	height:auto;
	border-top:60px solid #0065AF;
}


.lslide1{
   background:url('../images/tree_2.gif') 0px 0px no-repeat;
   width:16px; 
   float:left;
   display:block;
   }
.lslide11{
   background:url('../images/add_bg.gif') 0px 0px no-repeat;
   width:16px; 
   float:left;
   display:block;
   }
   
.lslide12{
   background:url('../images/tree_2.gif') 0px 0px no-repeat;
   width:16px; 
   margin-left:10px;
   float:left;
   display:block;
   }
.lslide2{
   background:url('../images/add_bg.gif') 0px 0px no-repeat;
   width:16px;
   margin-left:10px;
   float:left;
   display:block;
   
   }
   
.lslide3{
   background:url('../images/add_bg.gif') 0px 0px no-repeat;
   width:16px;
   margin-left:20px;
   float:left;
   display:block;
   
   }   
 
#flowshow_bg{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:fixed;
	z-index:996;
	background:#000;
	_position:absolute;
	display:none;
}
#flowshow{
	width:550px;
	height:400px;
	padding:10px;
	overflow:hidden;
	position:fixed;
	top:0px;
	left:0px;
	z-index:997;
	background:#fff;
	_position:absolute;
	border:#FF9900 6px solid;
	display:none;
	color: #FF9900;
    font-size: 10pt;
    text-align:center;
    
}

.tt{
  margin:0px;
  padding:0px;
} 