<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/Admin.css">

<script src="__PUBLIC__/Home/js/Base.js" language="JavaScript" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/prototype.js" language="JavaScript" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/mootools.js" language="JavaScript" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/ThinkAjax.js" language="JavaScript" type="text/javascript" ></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/ckmain.js" charset="gb2312"></script>
<title>添加资质</title>
<script type="text/javascript" src="__PUBLIC__/Home/js/utils.js"></script>
<script type="text/javascript">
 function addImg(obj)
  {
      var src  = obj.parentNode.parentNode;
      var idx  = rowindex(src);
      var tbl  = document.getElementById('gallery-table');
      var row  = tbl.insertRow(idx + 1);
      var cell = row.insertCell(-1);
      cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
  }

  /**
   * 鍒犻櫎鍥剧墖涓婁紶
   */
  function removeImg(obj)
  {
      var row = rowindex(obj.parentNode.parentNode);
      var tbl = document.getElementById('gallery-table');

      tbl.deleteRow(row);
  }
  
    function dropImg(imgId)
  {
    Ajax.call('goods.php?is_ajax=1&act=drop_image', "img_id="+imgId, dropImgResponse, "GET", "JSON");
  }

  function dropImgResponse(result)
  {
      if (result.error == 0)
      {
          document.getElementById('gallery_' + result.content).style.display = 'none';
      }
  }
</script>


<script charset='utf-8' src='/Public/Admin/kindeditor/kindeditor-min.js'></script>
    <script>
        var editor;
            KindEditor.ready(function(K) {
                editor = K.create('textarea[name="sf_detail"]', {
                    allowFileManager : true,
                    width : '700px',
                    height: '300px',
                    resizeType: 0    //固定宽高
                });
            });
    </script> 	

</head>
<body>
<style type="text/css">
.content table tr td{ height:30px;}
.content table tr th{ width:150px;}
</style>
<div class='menu'>&nbsp;编辑 &gt; 添加广告位</div>

<div class="content">
  	<Form name='EditForm' id='EditForm' method='post' action='__URL__/addads' onSubmit="return ck_Project(this);" enctype="multipart/form-data" >

  <table width="98%" border="0" cellspacing="1" cellpAdding="1" align="center" class="table">   	  	
	  
      <tr>
        <th align="center"><font color="#FF0000">*</font>广告位名称</td>
        <td><input name="ads_name" type="text" value="" size="30" id="sf_name"></td>
      </tr>
	  	  
	
	   <tr>
        <th align="center">&nbsp;&nbsp;是否开启</td>
        <td><input type="radio" name="ads_onoff" value="1" >是
		<input type="radio" name="ads_onoff" value="0" checked="checked">否</td>
      </tr>
	  
	   <tr>
        <th align="center"><font color="#FF0000">*</font>排序</td>
        <td><input name="ads_sort" type="text" value="50" size="30" id="ProjectOrder"></td>
      </tr>
  
	  
      <tr bgcolor="#FFFFFF">
        <td>&nbsp;</td>
        <td align="left"><input type="submit" name="Submit" value="保 存" class="button" > &nbsp;&nbsp; 
        <input type="button" value="返 回" class="button" onClick="javascript:history.back(-1);" />
        <input type="hidden" name="myimg" id="myimg"></td>
      </tr>
  </table>
      </Form>

  <br>
</div>
<br>
</body>
</html>