<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/Admin.css">
<link href="__PUBLIC__/Admin/css/page.css" rel="stylesheet" type="text/css" />

<script src="__PUBLIC__/Admin/js/jquery-1.7.js" language="JavaScript" type="text/javascript" ></script>
<script type="text/javascript"> jQuery=$;  </script>  <!--因为jQuery与ThinkAjax的$符号冲突--> 

<script type="text/javascript" src="__PUBLIC__/Admin/js/admin.js"></script>

<!--<script src="__PUBLIC__/Home/js/Base.js" language="JavaScript" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/prototype.js" language="JavaScript" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/mootools.js" language="JavaScript" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/ThinkAjax.js" language="JavaScript" type="text/javascript" ></script>-->



<script language="javascript" type="text/javascript">
var oldColor="#ffffff";//原来的颜色
function trOver(trObj){
oldColor=trObj.style.backgroundColor;
trObj.style.backgroundColor="#e9f1f4";
}
function trOut(trObj){
trObj.style.backgroundColor=oldColor;
}
</script>




<script type="text/javascript">   
function completed(data,status){
	if (status==1){
		for(i=0;i<data.length;i++){
	  alert(data[i]); 
	   	  
	}
		}
	}	

function complete(data,status){
    var moption;
	moption="<option>选择子类</option>";
	if (status==1)
	{
	for(i=0;i<data[0].length;i++){
	   moption=moption+'<option value="'+data[1][i]+'">'+data[0][i]+'</option>'; 
	   	  
	}
	$('SubType').innerHTML='<select name="ProjectSubTypeID" id="ProjectSubTypeID">'+moption+'</select>';}
	else
	{
	  $('SubType').innerHTML='<select><option></option></select>'
	 }
}

//---------------------------------------------------------------
function complete1(data,status){
    var moption;
	moption="<option value=sel2>选择子类</option>";
	if (status==1)
	{
	for(i=0;i<data[0].length;i++){
	   moption=moption+'<option value="'+data[1][i]+'">'+data[0][i]+'</option>'; 
	   	  
	}
	$('SubType1').innerHTML='<select name="ProjectSubTypeID1" id="ProjectSubTypeID1">'+moption+'</select>';}
	else
	{
	  $('SubType1').innerHTML='<select name="ProjectSubTypeID1" id="ProjectSubTypeID1"><option></option></select>'
	 }
}
//--------------------------------------------------
 //菜单联动函数
 function InfoSort(){	
	ThinkAjax.sendForm('EditForm','__URL__/Project_InfoSort',complete,'');
}    

 function InfoSort1(){	
	ThinkAjax.sendForm('EditForm','__URL__/Project_InfoSort1',complete1,'');
}   

//---------------检测搜索条件是否为空函数（开始）
function checkClass(){	
	var zt = document.getElementsByName("search_type");	
	var checkValue;
for(var i=0;i<zt.length;i++){
if(zt[i].checked){
	checkValue=zt[i].value;
	}
} 
	if(checkValue=="title"){
		 if(document.getElementById("KeyWord").value==""){
			 alert("名称不能为空");
			 document.getElementById("KeyWord").focus();
			 return false; 
			 
			 }else{
				 
				 return true;
				 }
		
		}
	if(checkValue=="type"){
		 if(document.getElementById("ProjectType").value==""){
			 alert("请选择一种类别");
			 document.getElementById("ProjectType").focus();
			 return false;
			 }else{
				 
				 return true;
				 }		
		}	
	 return true;
	}  
//----------------------------结束---------------------------
	
//------------删除按钮函数------------------------------------	
 function delAllNews(){	 
  if(confirm('确定要删除吗？')){
  var arr = new Array();
  var checkbox = document.getElementsByName("CheckBoxID");
  for(var i = 0 ; i <checkbox.length ; i++ ){
  if(checkbox[i].checked == true){
  arr[i] = checkbox[i].value;
  }
  }
  if(arr=="")  { alert("请选择删除项");  return false; }
//alert(arr);

 jQuery.ajax({  
       type: "POST",  
       url: "__URL__/DelAllFlink",  
	   data: "arr="+arr,  
       dataType: 'json',  
       success: function(obj){             
			
			alert("删除成功");  
			window.navigate("__URL__/adslist");             
       }   
    }) 		
	}else{
	
	
	
		}
	} 
 //----------------------------结束---------------------------
 
 //---------------------移动数据按钮函数-----------------------
 function moveNews(){
		if(confirm('确定要移动数据吗？')){ 
	  var arr = new Array();
  var checkbox = document.getElementsByName("CheckBoxID");
  for(var i = 0 ; i <checkbox.length ; i++ ){
  if(checkbox[i].checked == true){
  arr[i] = checkbox[i].value;
  }
  }
var ProjectType=document.getElementById("ProjectType1").value ;
 if(arr=="")  {alert("请选择移动项"); return false; }
if(ProjectType=="All"){
				  alert("请选择类别");
				 ProjectType=document.getElementById("ProjectType1").focus();
				 return false;
				}
var ProjectSubType=document.getElementById("ProjectSubTypeID1").value ;
if(ProjectSubType=="sel2"){
     alert("请选择子类别");
				 ProjectSubType=document.getElementById("ProjectSubTypeID1").focus();
				 return false;
}
 jQuery.ajax({  
       type: "POST",  
       url: "__URL__/moveAllProject", 
	   data: "arr="+arr+"&"+"ProjectType="+ document.getElementById("ProjectType1").value+"&"+"ProjectSubTypeID="+ document.getElementById("ProjectSubTypeID1").value,  
       dataType: 'json',  
      success: function(obj){  		  
			 
			 alert("数据移动成功");
			 
			window.navigate("__URL__/ProjectList");                     
       }   
    }) 	}else{
		
		
		}
	
 }
 //----------------------------结束--------------------------- 
 
</script>
<title>产品管理</title>
</head>
<body>

<style type="text/css">
.content table{ border-collapse:collapse;}
.content table tr td{ height:30px; border:1px solid #ccc;}
.title{ text-align:center;}
</style>

<div class='menu'>&nbsp;查看 &gt;广告位</div>
 <form action="__URL__/adslist" method='get' name='EditForm' id="EditForm" >    
  <table width="98%" border="0" cellspacing="0" cellpAdding="0"> 
    <tr>
      <td align="left">  
        广告位搜索： 
        <input type='text' name='KeyWord' id='KeyWord' value="">
        
        <input type='submit' value='搜索'  class="button">
        <a href="__URL__/adsadd" style="float:right; margin-right:80px;" ><input  value='添加广告位' class="button" style="text-align:center; font-size:10px;"></a> 
      </td>
    </tr>
  </table>
<div class="content" align="center">
  <table width="100%" border="0" cellspacing="0" cellpAdding="0" bgcolor="#d4d0c8">
  <tr bgcolor="#FFFFFF" align="center" >
  <td width='5%' class='title'>编号</td>
  
  <td width='20%' class='title'>广告位名称</td>

  <td width='10%' class='title'>排序</td>
  
  <td width='7%' class='title'>状态</td>  
  <td width='15%' align='center' class='title'>操作</td>
  </tr>

   <volist id="newsList_info" name="newsList_info">
  <tr onMouseOver='trOver(this);' onMouseOut='trOut(this);' bgcolor='#ffffff' align="center">
  <td align='center'>{<$key + 1 >}</td>

   
    <td>{<$newsList_info.ads_name>}</td>
	

	<td>{<$newsList_info.ads_sort>}</td>
	
	<td><eq name="newsList_info.ads_onoff" value="1">开启<else/>关闭</eq></td>
		
    <td align='center'> <a href='__URL__/advertlist/ID/{<$newsList_info.ads_id>}'>查看</a> | <a href='__URL__/adsedit/ID/{<$newsList_info.ads_id>}'>修改</a> | <a href='__URL__/delads/ID/{<$newsList_info.ads_id>}' onClick="return confirm('确定要删除吗？')">删除</a> 
<!--	| <input name='CheckBoxID' id="CheckBoxID"  onClick="" type='checkbox' value='{<$newsList_info.ads_id>}'>-->
	</td>
    </tr>
   </volist> 
    </table>
</div>

  <!--<div class="ttbom">
<input name="按钮" type='button' class="button" onClick="delAllNews()" value='删除所选'> &nbsp; 
<input type='checkbox' name='chkall' onClick='CheckAll(this.form)' value='ON'>全选</div>-->
<div class="{<$pagestyle>}">{<$page>}</div>
</form>
  <br>
</body>
</html>
                                                                                       