<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/Admin.css">

<script src="__PUBLIC__/Home/js/Base.js" language="JavaScript" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/prototype.js" language="JavaScript" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/mootools.js" language="JavaScript" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/ThinkAjax.js" language="JavaScript" type="text/javascript" ></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/ckmain.js" charset="gb2312"></script>
<title>添加商品</title>

<script src="__PUBLIC__/Homet/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/utils.js"></script>
<script type="text/javascript">
  function addImg(obj)
  {
      var src  = obj.parentNode.parentNode;
      var idx  = rowindex(src);
      var tbl  = document.getElementById('gallery-table');
      var row  = tbl.insertRow(idx + 1);
      var cell = row.insertCell(-1);
      cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
  }

  /**
   * 鍒犻櫎鍥剧墖涓婁紶
   */
  function removeImg(obj)
  {
      var row = rowindex(obj.parentNode.parentNode);
      var tbl = document.getElementById('gallery-table');

      tbl.deleteRow(row);
  }

  /**
   * 鍒犻櫎鍥剧墖
   */
  function dropImg(imgId,goodsId)
  {
	//alert(goodsId);
   $.ajax({
			url:"__MODULE__/Project/delimg",
			type:"get",
			data:'imgId='+imgId+'&goodsId='+goodsId,			
			dataType:"json",
			success:function(data){
			// alert(data);
			 document.getElementById('gallery_' + data).style.display = 'none';
				
			}
		});
  }

  function dropImgResponse(result)
  {
	  alert(result);
      if (result.error == 0)
      {
          document.getElementById('gallery_' + result.content).style.display = 'none';
      }
  }

</script>	  


<script charset='utf-8' src='/Public/Admin/kindeditor/kindeditor-min.js'></script>
    <script>
        var editor;
            KindEditor.ready(function(K) {
                editor = K.create('textarea[name="sf_detail"]', {
                    allowFileManager : true,
                    width : '700px',
                    height: '300px',
                    resizeType: 0    //固定宽高
                });
            });
    </script>
	

</head>
<body>
<style type="text/css">
.content table tr td{ height:30px;}
.content table tr th{ width:150px;}
</style>
<div class='menu'>&nbsp;编辑 &gt; <b>广告</b></div>

<div class="content">
  	<Form name='EditForm' id='EditForm' method='post' action='__URL__/editadvert' onSubmit="return ck_Project(this);" enctype="multipart/form-data" >

  <table width="98%" border="0" cellspacing="1" cellpAdding="1" align="center" class="table">
    
	  
	  <tr>
        <th align="center"><font color="#FF0000">*</font>广告位置</td>
        <td><select name="fid" ><option value="0">请选择...</option>             
            <volist name="list" id="cat">
				<option value="{<$cat.ads_id>}" <eq name="cat.ads_id" value="$newsList_info.ad_adsid">selected="selected"</eq>>{<$cat.ads_name>}</option>					
			</volist>
            </select></td>
      </tr>
	  
      <tr>
        <th align="center"><font color="#FF0000">*</font>广告名称</td>
        <td><input name="ad_name" type="text" value="{<$newsList_info.ad_name>}" size="30" id="ad_name">
		<input type="hidden" name="ad_id" value="{<$newsList_info.ad_id>}"></td>
      </tr>
	  
	   <tr>
		 <th align="center"><font color="#FF0000">*</font>广告图片</td>
         <td>
           <input type="file" name="pic" size="35" value=""/>
                         <img height="80" src="/Uploads/myads/{<$newsList_info.ad_img>}" />
                                               
         </td>
      </tr>
	  
	   <tr>
        <th align="center"><font color="#FF0000">*</font>广告链接</td>
        <td><input name="ad_link" type="text" value="{<$newsList_info.ad_link>}" size="30" id="ad_link"></td>
      </tr>
	  
		
	  
	   <tr>
        <th align="center"><font color="#FF0000">*</font>是否开启</td>
        <td><input type="radio" name="ad_onoff" value="1" <eq name="newsList_info.ad_onoff" value="1">checked="checked"</eq>>启用
		<input type="radio" name="ad_onoff" value="0" <eq name="newsList_info.ad_onoff" value="0">checked="checked"</eq>>关闭</td>
      </tr>
	  
	   <tr>
        <th align="center"><font color="#FF0000">*</font>排序</td>
        <td><input name="ad_sort" type="text" value="{<$newsList_info.ad_sort>}" size="30" id="ad_sort"></td>
      </tr>
  
	  
      <tr bgcolor="#FFFFFF">
        <td>&nbsp;</td>
        <td align="left">
		<input type="submit" name="Submit" value="保 存" class="button" > &nbsp;&nbsp;       
		 <input type="button" value="返 回" class="button" onClick="javascript:history.back(-1);" />
        </td>
      </tr>
  </table>
      </Form>

  <br>
</div>
<br>
</body>
</html>