<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/Admin.css">
<link href="__PUBLIC__/Admin/css/page.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Admin/js/jquery-1.7.js" language="JavaScript" type="text/javascript" ></script>
<title>产品管理</title>
</head>
<body>

<style type="text/css">
.content table{ border-collapse:collapse;}
.content table tr td{ height:30px; border:1px solid #ccc;}
.title{ text-align:center;}
</style>

<div class='menu'>&nbsp;查看 &gt;系列管理</div>
 <form action="" method='get' name='EditForm' id="EditForm" onSubmit="return checkClass()">    
  <table width="98%" border="0" cellspacing="0" cellpAdding="0"> 
    <tr>
      <td align="left">
        <a href="__URL__/add" style="float:right; margin-right:80px;" ><input type="button"  value='添加系列' class="button" style="text-align:center;"></a> 
      </td>
    </tr>
  </table>
<div class="content" align="center">
  <table width="100%" border="0" cellspacing="0" cellpAdding="0" bgcolor="#d4d0c8">
  <tr bgcolor="#FFFFFF" align="center" >
  <td width='5%' class='title'>编号</td>

  <td width='30%' class='title'>系列名称（中文）</td>
  <td width='20%' class='title'>系列名称（英文）</td>
  <td width='10%' class='title'>排序</td>
 
  <td width='15%' align='center' class='title'>操作</td>
  </tr>

   <volist id="newsList_info" name="newsList_info">
  <tr onMouseOver='trOver(this);' onMouseOut='trOut(this);' bgcolor='#ffffff' align="center">
  <td align='center'>{<$key + 1 >}</td>  
   
    <td><b>{<$newsList_info.name>}</b></td>
	 <td>{<$newsList_info.ename>}</td>
	
	<td>{<$newsList_info.sort>}</td>
	
		
    <td align='center'> <a href='__URL__/edit/id/{<$newsList_info.id>}'>修改</a> | <a href='__URL__/del/id/{<$newsList_info.id>}' onClick="return confirm('确定要删除吗？')">删除</a> 
	<!--| <input name='CheckBoxID' id="CheckBoxID"  onClick="" type='checkbox' value='{<$newsList_info.gs_id>}'>-->
	</td>
    </tr>
   </volist> 
    </table>
</div>

<!--  <div class="ttbom">
<input name="按钮" type='button' class="button" onClick="delAllNews()" value='删除所选'> &nbsp; 
<input type='checkbox' name='chkall' onClick='CheckAll(this.form)' value='ON'>全选</div>
<div class="{<$pagestyle>}">{<$page>}</div>-->
</form>
  <br>
</body>
</html>
                                                                                       