
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/Admin.css">
<script language="javascript" type="text/javascript">
var oldColor="#ffffff";//原来的颜色
function trOver(trObj){
oldColor=trObj.style.backgroundColor;
trObj.style.backgroundColor="#ffffcc";
}
function trOut(trObj){
trObj.style.backgroundColor=oldColor;
}
</script>
<title>密码修改</title>
</head>
<script type="text/javascript">
 function ckword(){
   if (document.getElementById("password").value==""){
             alert("请输入旧密码");
			 document.getElementById("password").focus();
			 return false;
			 }	

   if (document.getElementById("newpassword").value==""){
             alert("请输入新密码");
			 document.getElementById("newpassword").focus();
			 return false;
			 }	
	
  }	
</script>
<body>

<div class='menu'>&nbsp;编辑 &gt; 密码管理</div>

<div class="content">
  <table width="98%" border="0" cellspacing="0" cellpAdding="5" align="center" class="table">
    <Form name='EditForm' method='post' action="__URL__/edit_regpaw" onSubmit="return ckword()"　>
    <volist id="memlist" name="mempaw">

      <tr>
        <th width="158"><font color="#FF0000">*</font>用&nbsp;户&nbsp;名：</th>
        <td width="81%">{<$memlist.UserName>}</td>
      </tr>
      <tr>
        <th><font color="#FF0000">*</font>旧&nbsp;密&nbsp;码：</th>
        <td><input type="password"   maxlength="20" size="30" id="password" name="password"   ></td>
      </tr>
      
          <tr>
            <th><font color="#FF0000">*</font>新置密码：</th>
            <td><input type="password"    maxlength="20" size="30" id="newpassword" name="newpassword"  ></td>
      </tr>
      
      <tr bgcolor="#FFFFFF">
        <td>&nbsp;</td>
        <td align="left"><input type="submit" name="Submit" value="保 存" class="button" >
          &nbsp;&nbsp;
         <input type="reset" value="重 置"   class="button"></td>
      </tr>
	  </volist>
    </Form>
  </table>
  <br>
</div>
<br>
</body>
</html>
                                                                                       